#content{
  min-width: 1080px;
}

.content-header{
  padding: 15px 0 15px;
  border-bottom: 1px black solid;
  height: 66px;
}
.content-box-title{
  padding: 15px 15px 0;
}
.box-title-right button{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 5px;
}
.content-add-button{
  padding: 6px 20px 6px;
}
.content-list-box img{
  width: 100%;
  height: 204px;
  display: inline-block;
  margin-top: 10px;
  padding: 0 15px 15px;
}
.content-list{
  padding: 30px;
  padding-right: 0px;
}
.content-list li{
  border:1px lightgrey solid;
  padding: 15px 15px 0px;
  width: 300px;
  height: 310px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.content-list-box a{
  color: #333333;
}

.box-title-left span{
  width: 60px;
  height: 20px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.box-title{
  cursor:pointer;
}
.content-list-box-footer div a{
  display: inline-block;
  margin-top: 15px;
  height: 40px;
  background-color: #E8E8E8;
  color: #333333;
  font-size: 18px;
  padding-top: 10px;
}
.ztree{
  position: absolute;
  background-color: white;
  padding: 5px 10px;
  display: none;
}
.tree-node{
  padding: 6px 30px;
  width: 120px;
}
