<div id="content">
  <div class="nav">
    <ol class="breadcrumb">
      <!--<li><a href="#" routerLink="/home/school-list">学校</a></li>-->
      <li class="active">内容信息</li>
    </ol>
  </div>

  <div class="content-header">
    <form class="" role="form">
      <div class="form-group col-xs-1 margin-right-2">
          <div class="tree-node btn btn-success" (click)="fadeout()">
            {{classifyName}}
          </div>
          <ul id="treeDemo" class="ztree"></ul>
      </div>
      <div class="form-group col-xs-3">
        <input [(ngModel)]="title" name="title" type="text" class="form-control margin-left-1" placeholder="请输入文章的标题" value="">
      </div>
      <div class="form-group col-xs-2 no-padding-left">
        <button type="button" class="btn btn-success padding-side-20" (click)="getTitlecatcontents()">搜索</button>
      </div>
      <div class="form-group col-xs-2 right">
        <button type="button" class="btn btn-success right content-add-button" routerLink="/home/add-content">新增</button>
      </div>
    </form>
  </div>
  <div class="content-list">
      <ul>
        <li class="no-padding" *ngFor="let content of catcontents">
          <div class="content-list-box">
            <div class="content-box-title">
              <div class="box-title-left left">
                <span class="box-title" routerLink="/home/content-modify/{{content.id}}" >{{content.title}}</span>
                <span>{{content.creator_name}}</span>
              </div>
              <div class="box-title-right right">
                <span>{{getDateTen(content.create_time)}}</span>
                <button *ngIf="content.is_top==0" [attr.value]="content.id" type="button" class="btn btn-info" (click)="stickPost($event)">置顶</button>
                <button *ngIf="content.is_top==1" [attr.value]="content.id" type="button" class="btn btn-info" (click)="cancelStickPost($event)">取消</button>
              </div>
            </div>
            <a href="" routerLink="/home/content-modify/{{content.id}}">
              <div>
                <img src="{{content.cover_url}}" alt="">
              </div>
            </a>
            <div class="content-list-box-footer">
              <div><a class="col-xs-4 text-center border-right-1 glyphicon glyphicon-pencil" href="" routerLink="/home/content-modify/{{content.id}}"></a></div>
              <div><a class="col-xs-4 text-center border-right-1 glyphicon glyphicon-trash" href="javascript:void (0)" [attr.value]="content.id" (click)="deleteCatContent($event)" ></a></div>
              <div><a class="col-xs-4 text-center content-push" [attr.value]="content.id" (click)="pushContent($event)" data-toggle="modal" data-target="#relationColumn">推送</a></div>
            </div>
          </div>
        </li>
      </ul>
  </div>
  <!--推送-->
  <div class="modal fade" id="relationColumn" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title">
            推送
          </h4>
        </div>
        <div class="modal-body">
          <div class="modal-column-add">
            <div class="column-add-left left">
              <h5>栏目列表</h5>
              <div class="column-add-form column-all">
                <ul id="treeDemoCheck" class="ztree"></ul>
              </div>
            </div>
            <div class="column-add-right right">
              <h5>已经选择的栏目</h5>
              <div class="column-add-form column-select">
                <ul>
                  <li *ngFor="let info of treeCheckedInfos" class="column-add-box">
                    <a class="glyphicon glyphicon-th-list" href="javascript:void(0)" [attr.value]="info.id"> {{info.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-close" data-dismiss="modal">关闭
          </button>
          <button type="button" class="btn btn-primary" (click)="sure()">
            确定
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>
</div>
