<div id="menuAside">
  <ul class="aside nav nav-pills  nav-stacked">
    <li class="margin-top-1 margin-bottom-1">
      <a class=" active" style="font-size: 16px" routerLink="/home/propaganda-statistics">
        <span class="col-md-offset-1 glyphicon glyphicon-home"> 宣传统计</span>
      </a>
    </li>
    <li class="no-hover" >
      <a style="font-size: 16px" >
        <span class="col-md-offset-1 glyphicon glyphicon-th-large"> 内容管理</span>
      </a>
    </li>
    <li>
      <a style="font-size: 16px" routerLink="/home/channel">
        <span class="col-md-offset-3"> 频道管理</span>
      </a>
    </li>
    <li class="margin-top-1 margin-bottom-1">
      <a class=" active" style="font-size: 16px" routerLink="/home/classify">
        <span class="col-md-offset-3"> 栏目管理</span>
      </a>
    </li>
    <li class="" >
      <a style="font-size: 16px"  routerLink="/home/content">
        <span class="col-md-offset-3"> 信息管理</span>
      </a>
    </li>
    <li class="margin-top-1 margin-bottom-1">
      <a class=" active" style="font-size: 16px" routerLink="/home/templet">
        <span class="col-md-offset-3"> 模板管理</span>
      </a>
    </li>
  </ul>
</div>
