#firstPage{
  min-width: 1180px;
}
.line-bottom{
  border-bottom: 1px lightgrey solid;
}
.statistic h4{
  display: block;
  padding: 15px;
}
.statistic .box-title span{
  display: inline-block;
  padding: 0;
  height: 12px;
  width:12px;
  border-radius: 50%;
  background-color:#2CCB93;
  margin-right: 10px;
}
.box-title i{
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.statistic-content-box{
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  height: 270px;
}
.statistic-content-box span{
}
.statistic-content-box ul{
  margin-left: 45px;
}
.statistic-content-box ul li div{
  width: 250px;
  height: 165px;
  padding-top: 20px;
  box-shadow:2px 2px 2px #dadada,4px 4px 3px #e8e8e8,5px 5px 5px #f8f8f8,-1px -1px 1px #f4f4f4,-2px -2px 1px #f8f8f8,-3px -3px 1px #fbfbfb;
  /*box-shadow:-2px -2px 5px #f4f4f4,-4px -4px 5px #f8f8f8,-5px -5px 5px #fbfbfb;*/
}
.statistic-content-box div img{
  display: block;
  width: 43px;
  height: 43px;
  margin: 0 auto 8px;

}
