
.bespeak-table td{
  text-overflow: ellipsis; /* for IE */
  overflow: hidden;
  white-space: nowrap;
}
.danger{
  border-top: 1px #ecbebe solid;
  color: rgba(237, 62, 65, 0.96);
}
.success{
  border-top: 1px #b2ec9d solid;
  color: #4cae4c;
}
.form-group{
  height: 50px;
  padding-top: 20px;
}
.form-group label{
  line-height: 31px;
  text-align: center!important;
}
/*.reserve-hover-btn{*/
  /*display: block;*/
  /*float: left;*/
  /*position: relative;*/
/*}*/
/*.reserve-hover{*/
  /*display: none;*/
  /*z-index: 1000;*/
  /*position: absolute;*/
  /*padding: 6px 0;*/
  /*height: 112px;*/
  /*width: 110px;*/
  /*text-align: center;*/
  /*border: 1px solid;*/
  /*background-color: white;*/
  /*right: 110px;*/
  /*border-radius: 6px;*/
/*}*/
/*.reserve-hover li{*/
  /*padding: 6px;*/
  /*border-radius: 6px;*/
  /*cursor: pointer;*/
/*}*/
/*.reserve-hover li:hover{*/
  /*background-color: #3b7eff;*/
/*}*/
