
.message-box{
  padding: 8px 8px 0 8px;
  font-size: 14px;
  width: 100%;
  border-top: 1px solid #999999;
}
.message-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("../../../assets/images/homepage/userImg.png")no-repeat;
  background-size: 100%;
}
.title span{
  display: inline-block;
  padding: 3px  0;
}
.name{
  color: #379BE9;
}
.time{
  color: #999999;
  padding-left: 15px!important;
}
.table-right{
  padding: 0 10px 6px;
}
.firstMessage{

}
.send-newMessage{
  height: 30px;
  margin-bottom: 15px;
  margin-right: 25px;
}
.replay{
  color: #999999;
  padding: 2px  0;
  position: relative;
  cursor: pointer;
}
.replay span{
  width: 40px;
  display: inline-block;
  position: absolute;
  left: 31px;
  top: -1px;
}
.content{
  padding: 6px  12px;
}
.replay-box{
  position: relative;
}
.replay-box textarea{
  width: 100%;
}
.button-content{
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 4px 16px!important;
}
.replay-table{
  margin-left: 40px;
  padding: 8px 2px 4px;
  border-top: 1px solid #c5c5c5;
}
