.head{
  padding: 10px 25px;
  background-color: #F6F8F9;
  margin: 20px 0;
}
.head label{
  line-height: 34px;
  margin-bottom: 0;
  padding-right: 10px;
}
.head button{
  padding: 6px 30px;
}
.modal-body label{
  float: left;
  margin-left: 20px;
  width: 85px;
  line-height: 34px;

}
.modal input{
  float: left;
  width: 420px;
}
.modal select{
  float: left;
  width: 180px;
}
.modal .form-group{
  display: block;
  clear: both;
  height: 40px;
}
.modal input[type='radio']:focus{
  height: 0!important;
}
.modal input[type='radio']:active{
  outline: none;
}
.modal .active{
  background-color: #5cb85c;
  color:white;
}
.modal .active:focus{
  outline: none;
}
.box-border{
  text-decoration: none;
  color: #666666;
  z-index: 10;
}
.box-border:hover{
  color: #333333;
}
