<div id="classify">
  <div class="nav">
    <ol class="breadcrumb">
      <!--<li><a href="#" routerLink="/home/school-list">学校</a></li>-->
      <li>
        <div class="tree-node btn btn-info" (click)="fadeout()">
          {{childInfo.name}}
        </div>
        <ul id="treeDemo" class="ztree"></ul>
        <div class="btn btn-success" data-toggle="modal" data-target="#addClassify" (click)="fadeTogoleChild()">新增</div>
      </li>
      <!--<li><a href="#" routerLink="/home/" >东区</a></li>-->
      <!--<li class="active">劳动局</li>-->
    </ol>
  </div>
  <div class="classify-content">
    <div class="classify-content-left left">
      <div>
        <img class="class-content-img" src="{{childInfo.logo_url}}" alt="">
        <div class="class-content-name">{{childInfo.name}}</div>
      </div>
    </div>
    <div class="url-hidden"> <input style="" id="url1" type="text" value="http://sq.babyscloud.com/wechat/page/commuinty.html?id={{childInfo.id}}"> </div>
    <div class="classify-content-right right">
      <a class="border-right" href="javascript:void (0)"  (click)="copyUrl()">复制链接</a>>
      <a class="border-right" [attr.value]="childInfo.id" href="" (click)="getCategorysDeatilModify($event)" data-toggle="modal" data-target="#ModifyClassify">编辑</a>
      <a href="javascript:void (0)" [attr.value]="childInfo.id" (click)="deleteCategorys($event)">删除</a>
    </div>
  </div>
  <div class="classify-list">
    <div class="border-bottom"><div class="classify-list-title">
      <a href="javascript:void (0)">子分类列表</a>
    </div></div>
    <div class="classify-list-content">
      <ul>
        <li *ngFor="let Category of parentCategorys" class="col-xs-3 "><a class="classify-list-box" href="javascript:void (0)">
          <div class="left">
            <img src="{{Category.logo_url}}" alt="">
            <span class="classify-box-title">{{Category.name}}</span>
            <i></i>
          </div>
          <div class="glyphicon glyphicon-chevron-down right chevron-down">
            <div class="chevron-down-fade">
              <ul>
                <li><a href="" [attr.value]="Category.id" (click)="getCategorysDeatilModify($event)" data-toggle="modal" data-target="#ModifyClassify" >修改</a></li>
                <li><a href="javascript:void(0)" [attr.value]="Category.id" (click)="deleteCategorys($event)">删除</a></li>
              </ul>
            </div>
          </div>
        </a></li>
        <li class="col-xs-3"><a class="classify-list-box classify-add"  href="" data-toggle="modal" data-target="#addClassify" (click)="fadeTogoleParent()">
          <div class="left">
            <div class="classify-add-case">
              +
            </div>
            <span style="color:#337ab7">新建子分类</span>
          </div>
        </a></li>
      </ul>
    </div>
  </div>

  <!--新增模态框-->
  <div class="modal fade" id="addClassify" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              新增分类
            </h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-2 col-xs-offset-1 control-label classify-logo">分类图标 <span style="color: red">*</span></label>
                <div class="col-sm-9">
                  <div class="file-upload filesImg" id="filesImg" onclick='javascript:$("#classifyImg").click();'>
                    <img src="" alt="">
                    <div class="file-logo-button">上传logo</div>
                  </div>
                  <div class="file-upload-indicator">建议上传尺寸为640*640，大小不超过1M</div>
                  <input (click)="previewHead()" type="file" style="display: none" class="form-control classifyImg" id="classifyImg"
                         placeholder="" value="">
                </div>
              </div>
              <div class="form-group parentTogole" >
                <label class="col-sm-2 col-xs-offset-1 control-label">上级分类 <span style="color: red">*</span></label>
                <div class="col-sm-6">
                  <select [(ngModel)]="parentId" name="parentId" id="" class="form-control">
                    <option class="parent-classify" value="-1">大分类</option>
                    <option class="child-classify" value="{{childInfo.id}}">{{childInfo.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-offset-1 control-label">分类名称 <span style="color: red">*</span></label>
                <div class="col-sm-6">
                  <input [(ngModel)]="name"  name="classifyName" type="text" class="form-control" id="classifyName"
                         placeholder="10个字以内" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-offset-1 control-label">分类介绍 <span style="color: red">*</span></label>
                <div class="col-sm-6">
                  <input [(ngModel)]="desc"  name="desc" type="text" class="form-control" id="classifyInfo"
                         placeholder="20个字以内" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-offset-1 control-label">显示次序 <span style="color: red">*</span></label>
                <div class="col-sm-6">
                  <input type="number" [(ngModel)]="order" name="order" id="order" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-offset-1 control-label">模板 <span style="color: red">*</span></label>
                <div class="col-sm-6">
                  <select [(ngModel)]="temId" class="form-control" name="temId" id="temId">
                    <option value="1">栏目模板一</option>
                    <option value="2">栏目模板二</option>
                    <option value="3">栏目模板三</option>
                    <option value="4">栏目模板四</option>
                    <option value="5">栏目模板五</option>
                    <option value="6">栏目模板六</option>
                    <option value="7">栏目模板七</option>
                    <option value="8">栏目模板八</option>
                    <option value="9">栏目模板九</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-offset-1 control-label">分类类型 <span style="color: red">*</span></label>
                <div class="col-sm-6 classify-type">
                  <input type="radio" name="radio" class="stop" id="type-in" checked
                         placeholder="20个字以内" value=""><label for="type-in">自建分类</label>
                  <input type="radio" name="radio" class="start" id="type-out"
                         placeholder="20个字以内" value=""><label for="type-out">外部链接</label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-xs-offset-1 control-label">链接地址 <span style="color: red">*</span></label>
                <div class="col-sm-6">
                  <input name="link" [(ngModel)]="ref" type="text" class="form-control" disabled
                         placeholder="分类跳转地址" value="">
                </div>
              </div>
              <!--<div class="form-group">-->
                <!--<label class="col-sm-2 col-xs-offset-1 control-label">内容模板 <span style="color: red">*</span></label>-->
                <!--<div class="col-sm-4">-->
                  <!--<select [(ngModel)]="parentId" name="parentId" id="" class="form-control">-->
                    <!--<option value="-1">社区</option>-->
                  <!--</select>-->
                <!--</div>-->
                <!--<div class="col-sm-2">-->
                 <!--<button type="button" class="btn btn-info choose-templet">选择</button>-->
                <!--</div>-->
              <!--</div>-->

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-close" data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" (click)="addCategorys()">
              确定
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
  <!--修改-->
  <div class="modal fade" id="ModifyClassify" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title">
            修改分类
          </h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 col-xs-offset-1 control-label classify-logo">分类图标 <span style="color: red">*</span></label>
              <div class="col-sm-9">
                <div class="file-upload filesImg" id="filesImgModify"  onclick='javascript:$("#classifyImgModify").click();'>
                  <img src="{{categorysModify.logo_url}}" alt="">
                  <div class="file-logo-button">上传logo</div>
                </div>
                <div class="file-upload-indicator">建议上传尺寸为640*640，大小不超过1M</div>
                <input (click)="previewHeadModiyf()" type="file" style="display: none" class="form-control " id="classifyImgModify"
                       placeholder="" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-xs-offset-1 control-label">分类名称 <span style="color: red">*</span></label>
              <div class="col-sm-6">
                <input [(ngModel)]="categorysModify.name"  name="classifyNameModify" type="text" class="form-control" id="classifyNameModify"
                       placeholder="10个字以内" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-xs-offset-1 control-label">分类介绍 <span style="color: red">*</span></label>
              <div class="col-sm-6">
                <input [(ngModel)]="categorysModify.desc"  name="descModify" id="descModify" type="text" class="form-control"
                       placeholder="20个字以内" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-xs-offset-1 control-label">显示次序 <span style="color: red">*</span></label>
              <div class="col-sm-6">
                <input type="number" [(ngModel)]="categorysModify.order" name="orderModify" id="orderModify" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-xs-offset-1 control-label">模板 <span style="color: red">*</span></label>
              <div class="col-sm-6">
                <select [(ngModel)]="categorysModify.temId" class="form-control" name="temIdUpdate" id="temIdUpdate">
                  <option value="1">栏目模板一</option>
                  <option value="2">栏目模板二</option>
                  <option value="3">栏目模板三</option>
                  <option value="4">栏目模板四</option>
                  <option value="5">栏目模板五</option>
                  <option value="6">栏目模板六</option>
                  <option value="7">栏目模板七</option>
                  <option value="8">栏目模板八</option>
                  <option value="9">栏目模板九</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-xs-offset-1 control-label">分类类型 <span style="color: red">*</span></label>
              <div class="col-sm-6 classify-type update-type">
                <input type="radio" name="radio-modify" class="stopUp" id="type-in-modify" checked
                       placeholder="20个字以内" value=""><label for="type-in">自建分类</label>
                <input type="radio" name="radio-modify" class="startUp" id="type-out-modify"
                       placeholder="20个字以内" value=""><label for="type-out">外部链接</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-xs-offset-1 control-label">链接地址 <span style="color: red">*</span></label>
              <div class="col-sm-6">
                <input [(ngModel)]="updateRef" name="updateRef" type="text" class="form-control" disabled
                       placeholder="分类跳转地址" value="">
              </div>
            </div>
            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 col-xs-offset-1 control-label">内容模板 <span style="color: red">*</span></label>-->
            <!--<div class="col-sm-4">-->
            <!--<select [(ngModel)]="parentId" name="parentId" id="" class="form-control">-->
            <!--<option value="-1">社区</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--<div class="col-sm-2">-->
            <!--<button type="button" class="btn btn-info choose-templet">选择</button>-->
            <!--</div>-->
            <!--</div>-->

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-close" data-dismiss="modal">关闭
          </button>
          <button type="button" class="btn btn-primary" (click)="updateCategorys()">
            确定
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>
</div>
