<div class="templet">
  <ol _ngcontent-c5="" class="breadcrumb">
    <li _ngcontent-c5="" class="active">模板管理</li>
  </ol>
  <ul id="myTab" class="nav nav-tabs">
    <li class="active">
      <a href="#lanmu" tabindex="-1" data-toggle="tab">栏目模板</a>
    </li>
    <li><a href="#pindao" tabindex="-1" data-toggle="tab">频道模板</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="lanmu">
      <div class="row" class="edge">
        <div class="col-md-4">
          <div class="test">
            <div class="photo-box">
              <img src="../../../assets/images/classify/1.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板一</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="test">
            <div class="photo-box">
              <img src="../../../assets/images/classify/2.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板二</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="test">
            <div class="photo-box">
              <img src="../../../assets/images/classify/3.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板三</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row" class="edge">
        <div class="col-md-4">
          <div class="test">
            <div class="photo-box">
              <img src="../../../assets/images/classify/4.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板四</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="test">
            <div class="photo-box">
              <img src="../../../assets/images/classify/5.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板五</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="test">
            <div class="photo-box">
              <img src="../../../assets/images/classify/6.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板六</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row" class="edge">
        <div class="col-md-4">
          <div class="test">
            <div class="photo-box">
              <img src="../../../assets/images/classify/7.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板七</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="test">
            <div class="photo-box">
              <img src="../../../assets/images/classify/8.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板八</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="test">
            <div class="photo-box">
              <img src="../../../assets/images/classify/9.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板九</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pindao">
      <div class="row edge" style="padding-left: 40px;">
        <div class="col-md-2">
          <h3 class="Weight">单栏目模板:</h3></div>
        <div class="col-md-2">
          <div class="test">
            <div class="img-box">
              <img src="../../../assets/images/channel/dan/1.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板一</h3>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="test">
            <div class="img-box">
              <img src="../../../assets/images/channel/dan/2.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板二</h3>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="test">
            <div class="img-box">
              <img src="../../../assets/images/channel/dan/3.jpg" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板三</h3>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="test">
            <div class="img-box">
              <img src="../../../assets/images/channel/dan/4.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板四</h3>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="test">
            <div class="img-box">
              <img src="../../../assets/images/channel/dan/5.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板五</h3>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-offset-2">
          <div class="test">
            <div class="img-box">
              <img src="../../../assets/images/channel/dan/6.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板六</h3>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="test">
            <div class="img-box">
              <img src="../../../assets/images/channel/dan/7.png" alt="" class="Photo">
            </div>
            <div class="mb">
              <h3 class="Weight">模板七</h3>
            </div>
          </div>
        </div>
      </div>
      <div style="padding-left: 0;">
        <div class="row">
          <div class="col-md-2">
            <h3 class="Weight">多栏目模板:</h3></div>
          <div class="col-md-3 side">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/100.jpg" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板一</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/101.jpg" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板二</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/102.png" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板三</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <h3 class="Weight"></h3></div>
          <div class="col-md-3 side">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/103.png" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板四</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/104.png" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板五</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/105.png" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板六</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <h3 class="Weight"></h3></div>
          <div class="col-md-3 side2">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/106.jpg" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板七</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/107.png" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板八</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/108.png" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板九</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-md-offset-2">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/109.png" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板十</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/110.png" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板十一</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/111.png" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板十二</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-md-offset-2">
            <div class="test">
              <div class="img-box">
                <img src="../../../assets/images/channel/112.png" alt="" class="Photo">
              </div>
              <div class="mb">
                <h3 class="Weight">模板十一</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
