.Weight{font-weight: normal;color: #777;}
.edge{
  padding-left: 0!important;
  border-bottom: 1px solid #ccc;
}
/* .side{border-left: 1px solid #ccc;} */
/* .side2{border-left: 1px solid;padding-bottom:50px;border-color: #ccc;} */
.side2{padding-bottom:50px;}
#lanmu{padding-left: 40px;}
#myTab{padding-left: 40px;}
.breadcrumb {
  margin-top: 15px;
  background-color: #fff;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}
.templet{
  min-width: 1280px;
  margin-left: 15px;
 overflow-x: hidden;
}
.mb{
  margin-top: -10px;
  width: 210px;
  text-align: right;
}
.test{
  margin-top: 20px;
}
.photo-box{
  width: 218px!important;
  height:180px!important;
}
.Photo{
  width: 218px;
}
.img-box{
  width: 218px!important;
  height: 140px!important;
}
.col-md-3{
  padding-bottom: 0;
}
.tem-long{
  height: 470px;
}
.tem-long h3{
  margin-top: 282px;
}
