.Weight{font-weight: normal;color: #777;}
.edge{
  padding-left: 0!important;
  min-width: 1280px;
}
/* .side{border-left: 1px solid #ccc;} */
/* .side2{border-left: 1px solid;padding-bottom:50px;border-color: #ccc;} */
.side2{padding-bottom:50px;}
#lanmu{padding-left: 40px;}
#myTab{padding-left: 40px;}
.breadcrumb {
  margin-top: 15px;
  background-color: #fff;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}
.templet{
  min-width: 1280px;
  margin-left: 15px;
 overflow-x: hidden;
}
.mb{
  margin-top: -10px;
  width: 210px;
  text-align: right;
}
.test{
  margin-top: 15px;
  margin-bottom: 15px;
}
.box{
  min-width: 235px;
}
#pindao .test{
  width: 230px!important;
  height:297px!important;
  padding: 5px;
  box-shadow:2px 2px 2px #dadada,4px 4px 3px #e8e8e8,5px 5px 5px #f8f8f8,-1px -1px 1px #f4f4f4,-2px -2px 1px #f8f8f8,-3px -3px 1px #fbfbfb;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.photo-box{
  width: 218px!important;
  height:385px!important;
}
.Photo{
  width: 218px;
}
.img-box{
  width: 218px!important;
  height: 250px!important;
  overflow-y: hidden;
}
.col-md-3{
  padding-bottom: 0;
}
.tem-long{
  height: 470px;
}
/*.tem-long h3{*/
  /*margin-top: 282px;*/
/*}*/
.weight-5{
  margin-top: 165px!important;
}
