<div id="authority" class="padding-side-15">
  <div class="nav">
    <ol class="breadcrumb">
      <!--<li><a href="#" routerLink="/home/school-list">学校</a></li>-->
      <!--<li><a href="#" routerLink="/home/channel" >频道管理</a></li>-->
      <!--<li><a href="#" routerLink="/home/child-channel/1" >子频道管理</a></li>-->
      <li class="active">分级管理员</li>
    </ol>
  </div>
  <div class="line-bottom"></div>
  <div class="authority-add-btn">
    <button class="btn btn-success">添加</button>
  </div>
  <div class="authority-form">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-center">姓名</th>
        <th class="text-center">管理范围</th>
        <th class="text-center">权限</th>
        <th class="text-center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">刘阳东</td>
        <td class="text-center">东区</td>
        <td class="text-center">全功能</td>
        <td class="text-center">
          <a href="javascript:void(0)">编辑</a>
          <a href="javascript:void(0)">删除</a>
        </td>
      </tr>
      <tr>
        <td class="text-center">刘阳东</td>
        <td class="text-center">东区</td>
        <td class="text-center">全功能</td>
        <td class="text-center">
          <a href="javascript:void(0)">编辑</a>
          <a href="javascript:void(0)">删除</a>
        </td>
      </tr>
      <tr>
        <td class="text-center">刘阳东</td>
        <td class="text-center">东区</td>
        <td class="text-center">全功能</td>
        <td class="text-center">
          <a href="javascript:void(0)">编辑</a>
          <a href="javascript:void(0)">删除</a>
        </td>
      </tr>
      <tr>
        <td class="text-center">刘阳东</td>
        <td class="text-center">东区</td>
        <td class="text-center">全功能</td>
        <td class="text-center">
          <a href="javascript:void(0)">编辑</a>
          <a href="javascript:void(0)">删除</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
