/* You can add global styles to this file, and also import other style files */
li,a,ul,span,img,i,p,div,body{
  padding: 0;
  margin: 0;
}
button{
  display: inline-block;
}

textarea{
  resize: none;
}
li{
  list-style: none;
}
span,img{
  display: inline-block;
}

.font-size-14{
  font-size: 14px;
}
.font-size-16{
  font-size: 16px;
}
.font-weight-normal{
  font-weight: normal;
}

/*浮动*/
.clear{
  clear: both;
}
.left{
  float: left;
}
.right{
  float: right;
}

/*边框*/
.border-right-1{
  border-right: 1px lightgrey solid;
}
.overflow-hidden{
  overflow: hidden;
}
.line-bottom{
  border-bottom: 1px lightgrey solid;
}


/*外边距*/
.margin-right-1{
  margin-right: 10px;
}
.margin-right-2{
  margin-right: 20px;
}
.margin-left-1{
  margin-left: 10px;
}
.margin-left-2{
  margin-left: 20px;
}
.margin-top-1{
  margin-top: 10px;
}

/*内边距*/
.no-padding{
  padding: 0!important;
}
.no-padding-left{
  padding-left: 0;
}
.no-padding-right{
  padding-right: 0;
}
.padding-side-15{
  padding: 0 15px 0;
}
.padding-side-20{
  padding-left: 20px;
  padding-right: 20px;
}

/*浏览器默认账号颜色*/
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px white inset !important;}

.breadcrumb{
  margin-top: 15px;
  background-color: white;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}

#menuAside .aside-active{
  background-color: #2DCA93!important;
}
#systemAside .aside-active{
  background-color: #2DCA93!important;
}
/*模态框*/
.modal-header{
  background-color: #F0F6FA;
  border-radius: 6px 6px 0 0;
}
.modal-footer{
  background-color: #F0F6FA;
  border-radius: 0 0 6px 6px;
}

.modal-reset label{
  float: left;
  margin-left: 20px;
  width: 85px;
  line-height: 34px;
}
.modal-reset input{
  float: left;
  width: 420px;
}
.modal-reset select{
  float: left;
  width: 180px;
}
.modal-reset .form-group{
  display: block;
  clear: both;
  height: 40px;
}
.modal-reset input[type='radio']:focus{
  height: 0!important;
}
.modal-reset input[type='radio']:active{
  outline: none;
}
.modal-reset .active{
  background-color: #5cb85c;
  color:white;
}
.modal-reset .btn.active.focus{
  outline: none!important;
}
.modal-reset .active:focus{
  outline: none;
}



.tree-node{
  padding: 6px 10px!important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.url-hidden{
  color: white;
  width: .01rem;
  overflow: hidden;
  border: none;
  position: absolute;
  bottom: 0px;
}
.url-hidden input{
  border: none;
}
.ztree{
  z-index: 100000;
}
/*$('.ztree[_ngcontent-c4]').css('z-index','100000')*/
/*重置按钮*/
/*.btn-info{*/
/*background-color: #44b549!important;*/
/*outline-color:#44b549!important;*/
/*border: 1px #44b549 solid!important;*/
/*}*/
/*.btn-info:hover{*/
/*background-color: #2f9833!important;*/
/*border: 1px #2f9833 solid!important;*/
/*}*/
/*.btn-info.active{*/
/*background-color: #2f9833!important;*/
/*border: 1px #2f9833 solid!important;*/
/*box-shadow: inset 0 3px 5px #2f9833!important;*/
/*outline-color:#2f9833!important;*/
/*}*/
/*.btn-info.focus{*/
/*background-color: #2f9833!important;*/
/*border: 1px #2f9833 solid!important;*/
/*box-shadow: inset 0 3px 5px #2f9833!important;*/
/*outline-color:#2f9833!important;*/
/*}*/
/*.table{*/
/*margin-left: 15px;*/
/*padding-right: 15px;*/
/*}*/
/*.class-count{*/
/*padding-left: 15px;*/
/*padding-bottom: 5px;*/
/*}*/
/*.header-button{*/
/*padding-right: 15px;*/
/*}*/
